body
{
    background-color: #F8F8FF;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation
{
    display: flex;
    background-color: #F0FFFF;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
    height: 60px;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.navigation__container
{
    list-style: none;
    font-size: 20px;
}
a
{
    display:block;
    padding:0 10px;
    color:#000;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

a:hover
{
    background-color: #FFE4E1;
    border-radius: 10px;
}

.navigation__element
{
    display: inline-block;
    width: 170px;
}

.navigation__element_file
{
    margin-left: 20px;
    display: inline-block;
}

.navigation__element_file:hover
{
    border-radius: 0;
}

.navigation__drop-list_file
{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #F0FFFF;
}

.navigation__element_file:hover .navigation__drop-list_file
{
    display: block;
}

.navigation__drop-list_file_element
{
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/*
.image_loader
{
    visibility: hidden;
}*/
